.imgRightWrap img { 
	float: right; 
	max-width: 100%; 
	margin: 5px 0px 0px 15px; 
}

.imgLeftWrap img { 
	float: left; 
	max-width: 100%; 
	margin: 5px 15px 0px 0px; 
}

.blocks .row {
	margin-bottom: 20px;
}

p {
	font-size: 12px;

}

.wrapimgleft.columns {
	float: left;
	margin: 0 0.7rem 0.7rem 0;
	padding-left: 0;
}

.wrapimgright.columns {
	float: right;
	margin: 0 0 0.7rem 0.7rem;
	padding-right: 0;
}


@media only screen and (max-width: 40em) {
	.wrapimgleft.columns {
		float: none;
		margin: 0;
		padding: 0;
	}
	
	.wrapimgright.columns {
		float: none;
		margin: 0;
		padding: 0;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */