#Template ul {  }
#Template ul li {
	position: relative;
	float: left;
	width: auto;
	height: auto;
	padding: 25px 10px 10px 10px;
	margin: 5px;
	overflow: hidden;
	border: 2px groove rgba(255, 255, 255, 0.8); 
	-webkit-border-image: url(../images/textures/bg_fieldset_elements_border.png) 2 stretch stretch; 
	border-image: url(../images/textures/bg_fieldset_elements_border.png) 2 stretch stretch;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	transition: all 500ms;
	-webkit-transition: all 500ms;
}

#Template ul.optionset li { 
	width: 110px; 
	height: 90px; 
}

#Template ul li img { 
	width: 70px;  
	margin: auto;
}

#Template ul li:hover, #Template ul li input.changed { 
	background-color: blue;
	background-color: rgba(85, 164, 210, 0.3); 
	border: 2px groove rgba(85, 164, 210, 0.3); 
}

#Template ul li:hover > label div {
	filter:Alpha(opacity=20);
	opacity: 0.2;
}

#Template ul li:hover > label .title {
	display: block;
}

#Template ul .selectedBlock {
	background-color: blue;
	background-color: rgba(85, 164, 210, 0.3); 
	border: 2px groove rgba(85, 164, 210, 0.3);	
}

#Template ul li input {
	position: absolute;
	visibility: hidden;
}

#Template ul li label { 
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}


#Template ul li .blockThumbnail {
	width: 70px;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	background: white;
}

	#Template ul li .blockThumbnail img {
		border-radius: 4px;
	}
	
#Template ul li label .title {
	display: none;
	position: relative;
		top: -50px;
		left: 0;
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;	
	color: white;	
	text-align: center;
	text-shadow: 1px 1px 10px #333;
	word-break:break-word;
}
#Template ul li .description { 
	display: block; 
	margin: 0;
	font-style: italic;  
}

#Template, #Template li label:after {
  content: "";
  display: table;
  clear: both;
}

.cms table.ss-gridfield-table tbody td.col-buttons {
	text-align: left;
}