<div class="section clearfix picturefirst wrap item<!--@ParapgraphContainerSort-->">
<% if $SectionHeader != "None" %><{$SectionHeader}>$SectionHeader</{$SectionHeader}><% end_if %>
<div class="textwrap">
	<div class="picturewrap span1">
	<!--@If Defined(ParagraphImageClean)-->
		<img src="admin/Public/GetImage.aspx?Image=<!--@ParagraphImageClean-->&Width=110" alt="<!--@ParagraphImageLinkAlt-->" />
		<!--@If Defined(ParagraphImageText)-->
		<span class="imagetext"><!--@ParagraphImageText--></span>
		<!--@EndIf(ParagraphImageText)-->
	<!--@EndIf(ParagraphImageClean)-->
	</div>
	<!--@ParagraphText--><!--@ParagraphModule--></div>
</div>
