<div class="section clearfix textfirst item<!--@ParapgraphContainerSort-->">
	<div class="textwrap span3"><!--@ParagraphText--><!--@ParagraphModule--></div>
	<div class="picturewrap span1">
	<!--@If Defined(ParagraphImageClean)-->
		<img src="admin/Public/GetImage.aspx?Image=<!--@ParagraphImageClean-->&Width=110" alt="<!--@ParagraphImageLinkAlt-->" />
		<!--@If Defined(ParagraphImageText)-->
		<span class="imagetext"><!--@ParagraphImageText--></span>
		<!--@EndIf(ParagraphImageText)-->
	<!--@EndIf(ParagraphImageClean)-->
	</div>
</div>
